.jumbotron{
    background-color:#000080;
    color:white;

}

#menu{
    color:#B0C4DE;
}

.well{
    background-color:#FFFFFF;
}

#sideArticle{
    color:#000000;
}

.navbar{
    background-color:white;
}